{% extends 'default/index.html.twig' %}

{% block body %}
    {{ parent() }}
    <br>
    <div class="Lable"> Please register your data</div>
    <br>
    <div class="Lable">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    </div>

    {% if form.vars.errors|length %}

     <div class="error" style="margin-left:150px; color:red"> {{  form_errors(form) }}</div>

    {% endif %}


{% endblock %}